services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kelurahan_app
    volumes:
      - .:/var/www
    working_dir: /var/www
    ports:
      - "5173:5173"
    depends_on:
      - mysql

  nginx:
    image: nginx:alpine
    container_name: kelurahan_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8
    container_name: kelurahan_mysql
    restart: always
    environment:
      MYSQL_DATABASE: kbarupre_kbaru
      MYSQL_ROOT_PASSWORD: Kb@ru2026!Secure
    ports:
      - "3306:3306"
    volumes:
      - mysqldata:/var/lib/mysql

volumes:
  mysqldata:
